# Archivos para ignorar 

.DS_Store # archivos del sistema
octave-workspace # archivo generado automáticamente por Octave
**/*.msh # archivos de malla autogenerados por gmsh
*.aux # archio auxiliar de latex
*.log # archivo auxiliar de latex
